@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.nav-item
{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
}

.nav-link
{
    color: #707070 !important;
    margin-right: 50px;
}
.last
{
    margin-right: 0px !important;
}
.my-box
{
    width: 300px !important;
    margin-left: 30px;
    position: relative;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif !important;
    font-style: italic;
}

.m-i
{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #cccccc;
}
.d-flex
{
    position: relative !important;
}
.bg-orange
{
    background-color: #fceae8;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 100px !important;
}
.bg-orange1
{
    background-color: #fceae8;
    margin-bottom: 20px;
    
}
.carousel-item
{
    padding: 20px 40px;
  
}
.price
{
   color: #ff136f;
}
.primary
{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.catagories
{
    margin-bottom: 100px;
}
.card-my
{
    border: none !important;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 20px;
}
.pad
{
    margin-top: 60px;
}
.shoes
{
    margin-bottom: 60px;
}
.bags
{
    margin-bottom: 100px;
}
.subscribe
{
    margin: 100px 0px;
}
form
{
    margin-right: 80px;
}
.subscribe h6
{
    color: gray;
}
.submit
{
    width: 150px;
    margin-top: 20px;
}
footer
{
    background-color:#ff136f; ;
    
}
footer p
{
    margin-bottom: 0!important;
    color: white;
}